<div class="create-panel-container">
  <div class="form-container">
    <%= simple_form_for [@agency, @travel] do |f| %>
      <%= f.input :model_agency_profile_id, placeholder: "Model", collection: ModelAgencyProfile.all.map { |m| [m.user.f_name + " " + m.user.l_name, m.id] }, prompt: "Select model" %>
      <%= f.input :origin, placeholder: "Origin" %>
      <%= f.input :destination, placeholder: "Destination" %>
      <div class="d-flex">
        <%= f.input :date, as: :string, input_html: { type: "date" }, placeholder: "Date" %>
        <%= f.input :time, placeholder: "Time" %>
      </div>
      <%= f.input :extra_info, placeholder: "Extra information" %>
      <%= f.submit "SEND", class: "button-dashboard" %>
    <% end %>
  </div>
  <div></div>
</div>
