<%# app/views/travels/index.html.erb %>

<div class="container my-4">
  <h1>Travels and Hotels for <%= @agency.name %></h1> <%# Добавил название агентства %>

  <div class="row">
    <div class="col-md-6">
      <h2>Travels</h2>
      <% if @travels.any? %>
        <ul class="list-group">
          <% @travels.each do |travel| %>
            <li class="list-group-item">
              <%# Ссылка на отдельный Travel (если есть show action для travel) %>
              <%= link_to "Travel to #{travel.destination} (#{travel.start_date.strftime('%Y-%m-%d')} - #{travel.end_date.strftime('%Y-%m-%d')})", agency_travel_path(@agency, travel) %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No travels found yet for this agency.</p>
      <% end %>
      <%# ИЗМЕНЕНИЕ ЗДЕСЬ: new_agency_travel_path(@agency) %>
      <%= link_to 'Add New Travel', new_agency_travel_path(@agency), class: 'btn btn-primary mt-3' %>
    </div>

    <div class="col-md-6">
      <h2>Hotels</h2>
      <% if @hotels.any? %>
        <ul class="list-group">
          <% @hotels.each do |hotel| %>
            <li class="list-group-item">
              <%# Ссылка на отдельный Hotel (если есть show action для hotel) %>
              <%= link_to "#{hotel.name} in #{hotel.city}", agency_hotel_path(@agency, hotel) %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No hotels found yet for this agency.</p>
      <% end %>
      <%# ИЗМЕНЕНИЕ ЗДЕСЬ: new_agency_hotel_path(@agency) %>
      <%= link_to 'Add New Hotel', new_agency_hotel_path(@agency), class: 'btn btn-primary mt-3' %>
    </div>
  </div>
</div>