<div class="connection-show-container">
  <%# HEADER // ALWAYS THE SAME %>
  <div class="connection-header">
    <%= image_tag "#{@listing.user.agency.profile_pic}", class: "avatar avatar-connection-show", alt: "dropdown menu", crop: :cover %>
    <div class="connection-agency-info">
      <span class="p-standard"><%= @agency.name %></span>
      <span class="small-type"><%= @agency.city %></span>
    </div>
  </div>

  <%# BUTTONS // CHANGE FOR CASTING/OPTION/JOB %>
  <div class="connection-show-buttons">
    <%= link_to inbox_path do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
    <% if @listing.listing_type == 'casting' %>
      <div class="d-flex">
        <div class="check-button-field">
          <div class="check-button"></div>
          <span class="x-small-type centered">check</span>
        </div>
        <div class="reply-button">
          <div class="check-button"></div>
        </div>
      </div>
    <% elsif @connection.listing.listing_type == 'option' %>
      <div class="d-flex">
        <div class="check-button">
          <div class="check-button"></div>
          <span class="x-small-type centered">available</span>
        </div>
        <div class="reply-button">
          <div class="check-button"></div>
        </div>
      </div>
    <% else %>
      <div class="reply-button">
        <div class="check-button"></div>
      </div>
    <% end %>

  </div>

  <%# MAIN CONTENT %>
  <div class="connection-main-content">
    <%# Client name & Job dates %>
    <div class="connection-content-header">
      <% if @connection.listing.listing_type == 'casting' || @connection.listing.listing_type == 'job' %>
        <%# For Castings & Jobs %>
        <%# Name %>
        <h1><%= @connection.listing.client.name %></h1>
        <%# Times %>
        <h1>
          <%= @connection.listing.start_time.strftime('%H:%M') %>  <%= @connection.listing.end_time.presence&.strftime('%H:%M') %>
        </h1>
        <%# Dates %>
        <h1>
          <%= @connection.listing.start_date.strftime('%-d %B') %>  <%= @connection.listing.end_date.presence&.strftime('%-d %B') %>
        </h1>
      <% else %>
        <%# For Options %>
        <h1><%= @connection.listing.client.name %></h1>
        <h1>
          <%= @connection.listing.start_date.strftime('%-d %B') %>  <%= @connection.listing.end_date.presence&.strftime('%-d %B') %>
        </h1>
      <% end %>
    </div>
    <%# Connection type // Casting/Option/Job %>
    <div class="connection-type-and-date">
      <h2><%= @connection.listing.listing_type.capitalize %></h2>
      <span class="small-type"><%= @connection.listing.created_at.strftime('%-d %B') %></span>
    </div>
    <hr class="mb-2">
    <%# Client name %>
    <div class="d-flex">
      <span class="p-light p-description">Client</span>
      <span class="p-regular info"><%= @connection.listing.client.name %></span>
    </div>
    <%# Agent name %>
    <div class="d-flex">
      <span class="p-light p-description">Agent</span>
      <span class="p-regular info"><%= @connection.listing.user.f_name%></span>
    </div>

    <%# Location %>
    <% if @connection.listing.location.present? %>
      <div class="d-flex">
        <span class="p-light p-description">Location</span>
        <span class="p-regular info"><%= @connection.listing.location %></span>
      </div>
    <% end %>

    <%# Address %>
    <div class="d-flex">
      <span class="p-light p-description">Address</span>
      <span class="p-regular info"><%= @connection.listing.address %></span>
    </div>

    <%# Photographer %>
    <% if @connection.listing.photographer.present? %>
      <div class="d-flex">
        <span class="p-light p-description">Photographer</span>
        <span class="p-regular info"><%= @connection.listing.photographer %></span>
      </div>
    <% end %>

    <%# Stylist %>
    <% if @connection.listing.stylist.present? %>
      <div class="d-flex">
        <span class="p-light p-description">Stylist</span>
        <span class="p-regular info"><%= @connection.listing.stylist %></span>
      </div>
    <% end %>

    <%# Rate %>
    <% if @connection.rate.present? %>
      <div class="d-flex">
        <span class="p-light p-description">Rate</span>
        <span class="p-regular info">€ <%= @connection.rate%></span>
      </div>
    <% end %>

    <%# Extra info %>
    <% if @connection.listing.extra_info.present? %>
      <div class="d-flex">
        <span class="p-light p-description">Info</span>
        <span class="p-regular info"><%= @connection.listing.extra_info%></span>
      </div>
    <% end %>
    <hr class="mt-4">
  </div>

  <% @connection.connection_comments.each do |comment| %>
    <div class="comment">
      <strong><%= comment.user.f_name %>:</strong>
      <p><%= comment.comment %></p>
      <hr>
    </div>
  <% end %>


  <%= form_with(model: [@connection, ConnectionComment.new], local: true) do |f| %>
    <span class="p-regular">To: </span>
    <span class="p-xbold"><%= @connection.listing.user.f_name %></span>
    <div class="comment-field">
      <%= f.text_area :comment, rows: 3 %>
    </div>

    <div class="connection-comment-submit">
      <%= button_tag type: "submit", class: "connection-comment-submit-button" do %>
         <i class="fa-solid fa-location-arrow fa-rotate-by" style="--fa-rotate-angle: 43deg;"></i>
      <% end %>
    </div>
  <% end %>

<%= render 'shared/mobile-app-navbar' %>
</div>
