<%= turbo_frame_tag :other_side do %>
  <div class="background-1">
    <%# NAVBAR %>
    <div class="dashboard-navbar">
      <%= render 'pages/dashboard_shared/dashboard_navbar' %>
    </div>

    <%# GRID-TOP %>
    <div class="grid-top">
      <%# GRID TOP LEFT %>
      <div class="grid-top-left">
        <%# empty %>
      </div>

      <%# GRID TOP CENTER %>
      <div class="grid-top-center">
        <%# empty for now here %>
      </div>

      <%# GRID TOP RIGHT %>
      <div class="grids-top-right">
        <%# empty %>
      </div>
    </div>

    <%# GRID BOTTOM %>
    <div class="grid-bottom">
      <%# Grid Bottom Left %>
      <div class="grid-bottom-left">
        <!-- searchbar || not yet functioning -->
        <div class="form-section">
          <form action="<%= root_path %>" method="get" class="search-form">
            <input type="text" name="query" value="<%= params[:query] %>" placeholder="search">
            <input type="submit" value=">" class="button">
          </form>
        </div>

        <!-- listings list -->
        <div class="model-listings-section">
          <% @listings.each do |listing| %>
            <%= link_to agency_listing_path(listing.user.agency, listing), data: { turbo_frame: "show_listing" } do %>
              <div class="d-flex m-2">
                <span class="p-light"><%= listing.listing_type %></span>
                <span class="p-regular"> <%= listing.client.name %> </span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <%# Grid Bottom Center %>
      <div class="grid-bottom-center">
        <%= turbo_frame_tag :show_listing do %>
        <% end %>
      </div>

      <%# Grid Bottom right %>
      <div class="grid-bottom-right side-bar-right">
        <%= render 'pages/dashboard_shared/dashboard_sidebar' %>
      </div>
    </div>

    <div class="dashboard-footer">
    </div>
  </div>
<% end %>
