<%= turbo_frame_tag :show_listing do %>
  <div class="create-panel-container">
    <div class="connection-show-container">
      <%# HEADER // ALWAYS THE SAME %>
      <div class="connection-header">
         <%= image_tag "#{current_user.agency.profile_pic}", class: "avatar avatar-connection-show", alt: "agency logo", crop: :cover %>

        <div class="connection-agency-info">
          <span class="p-standard"><%= @agency.name %></span>
          <span class="small-type"><%= @agency.city %></span>
        </div>
      </div>
      <%# MAIN CONTENT %>
      <div class="connection-main-content">
        <%# Client name & Job dates %>
        <div class="connection-content-header">
          <% if @listing.listing_type == 'casting' || @listing.listing_type == 'job' %>
            <%# For Castings & Jobs %>
            <%# Name %>
            <h1><%= @listing.client.name %></h1>
            <%# Times %>
            <h1>
              <%= @listing.start_time.strftime('%H:%M') %>  <%= @listing.end_time.presence&.strftime('%H:%M') %>
            </h1>
            <%# Dates %>
            <h1>
              <%= @listing.start_date.strftime('%-d %B') %>  <%= @listing.end_date.presence&.strftime('%-d %B') %>
            </h1>
          <% else %>
            <%# For Options %>
            <h1><%= @listing.client.name %></h1>
            <h1>
              <%= @listing.start_date.strftime('%-d %B') %>  <%= @listing.end_date.presence&.strftime('%-d %B') %>
            </h1>
          <% end %>
        </div>
        <%# Connection type // Casting/Option/Job %>
        <div class="connection-type-and-date">
          <h2><%= @listing.listing_type.capitalize %></h2>
          <span class="small-type"><%= @listing.created_at.strftime('%-d %B') %></span>
        </div>
        <hr class="mb-2">
        <%# Client name %>
        <div class="d-flex">
          <span class="p-light p-description">Client</span>
          <span class="p-regular info"><%= @listing.client.name %></span>
        </div>
        <%# Agent name %>
        <div class="d-flex">
          <span class="p-light p-description">Agent</span>
          <span class="p-regular info"><%= @listing.user.f_name%></span>
        </div>
        <%# Location %>
        <% if @listing.location.present? %>
          <div class="d-flex">
            <span class="p-light p-description">Location</span>
            <span class="p-regular info"><%= @listing.location %></span>
          </div>
        <% end %>
        <%# Address %>
        <div class="d-flex">
          <span class="p-light p-description">Address</span>
          <span class="p-regular info"><%= @listing.address %></span>
        </div>
        <%# Photographer %>
        <% if @listing.photographer.present? %>
          <div class="d-flex">
            <span class="p-light p-description">Photographer</span>
            <span class="p-regular info"><%= @listing.photographer %></span>
          </div>
        <% end %>
        <%# Stylist %>
        <% if @listing.stylist.present? %>
          <div class="d-flex">
            <span class="p-light p-description">Stylist</span>
            <span class="p-regular info"><%= @listing.stylist %></span>
          </div>
        <% end %>
        <%# Rate %>
        <% if @rate.present? %>
          <div class="d-flex">
            <span class="p-light p-description">Rate</span>
            <span class="p-regular info">€ <%= @rate%></span>
          </div>
        <% end %>
        <%# Extra info %>
        <% if @listing.extra_info.present? %>
          <div class="d-flex">
            <span class="p-light p-description">Info</span>
            <span class="p-regular info"><%= @listing.extra_info%></span>
          </div>
        <% end %>
        <hr class="mt-4">
      </div>
      <%= turbo_frame_tag :show_connection_comments do %>
        <%# Show comments here %>
      <% end %>
    </div>
    <div>
      <% @connections.each do |connection| %>
        <%= link_to connection_connection_comment_path(connection), data: { turbo_frame: "show_connection_comments" } do %>
          <div class="models-list">
            <%= image_tag "#{connection.model_agency_profile.user.profile_pic}", class: "models-list-avatar", alt: "dropdown menu", crop: :cover %>
            <span><%= connection.model_agency_profile.user.f_name %> <%= connection.model_agency_profile.user.l_name %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
