<div class="my-2 mx-5">
  <%= simple_form_for [@agency, @listing] do |f| %>
    <%= f.input :client_id, label: "Client", collection: Client.all %>
    <%= f.input :location, label: "Location" %>
    <%= f.input :address, label: "Address" %>
    <div class="d-flex">
      <%= f.input :start_date, label: "Date" %>
      <%= f.input :start_time, label: "Start Time" %>
      <%= f.input :end_time, label: "End Time" %>
    </div>
    <%= f.input :extra_info, label: "Extra information" %>
    <%= f.hidden_field :listing_type, value: 'casting' %>
    <%= f.submit "Create Casting", class: "btn btn-primary" %>
  <% end %>
</div>
