<div class="create-panel-container">
  <div class="form-container">
    <%= simple_form_for [@agency, @listing] do |f| %>
      <%= f.input :client_id, placeholder: "Client", collection: Client.all %>
      <%= f.input :location, placeholder: "Location" %>
      <%= f.input :address, placeholder: "Address" %>
      <%= f.input :start_date, as: :string, input_html: { type: "date" }, placeholder: "Start Date" %>
      <%= f.input :start_time, placeholder: "Start Time" %>
      <%= f.input :end_time, placeholder: "End Time" %>
      <%= f.input :extra_info, placeholder: "Extra information" %>
      <%= f.hidden_field :listing_type, value: 'casting' %>
      <%= f.submit "SEND", class: "button-dashboard" %>
    <% end %>
  </div>
  <div></div>
</div>
