<div class="create-panel-container">
  <div class="form-container">
    <%= simple_form_for [@agency, @listing] do |f| %>
      <%= f.input :client_id, placeholder: "Client", collection: Client.all %>

      <%= f.input :start_date, as: :string, input_html: { type: "date" }, placeholder: "Start Date" %>
      <%= f.input :end_date, as: :string, input_html: { type: "date" }, placeholder: "End Date" %>
      <%= f.input :start_time, placeholder: "Calltime" %>
      <%= f.input :location, placeholder: "Location" %>
      <%= f.input :address, placeholder: "Address" %>
      <%= f.input :photographer, placeholder: "Photographer" %>
      <%= f.input :stylist, placeholder: "Stylist" %>
      <%= f.input :extra_info, placeholder: "Extra information" %>
      <%= f.hidden_field :listing_type, value: 'job' %>
      <input type="hidden" name="selected_model_ids" value="">
      <%= f.submit "SEND", class: "button-dashboard" %>
    <% end %>
    <script>
      window.addEventListener("models:selected", function(event) {
        var input = document.querySelector(
          '.form-container input[name="selected_model_ids"]'
        );
        if (input) {
          input.value = event.detail.ids.join(",");
        }
      });
    </script>
  </div>
</div>
