<div class="my-2 mx-5">
  <%= simple_form_for [@agency, @listing] do |f| %>
    <%= f.input :client_id, label: "Client", collection: Client.all %>
    <div class="d-flex">
      <%= f.input :start_date, label: "From" %>
      <%= f.input :end_date, label: "Until" %>
      <%= f.input :start_time, label: "Calltime" %>
    </div>
    <%= f.input :location, label: "Location" %>
    <%= f.input :address, label: "Address" %>
    <div class="d-flex">
      <div>
        <%= f.input :photographer, label: "Photographer" %>
        <%= f.input :stylist, label: "Stylist" %>
      </div>
      <%= f.input :extra_info, label: "Extra information" %>
    </div>
    <%= f.hidden_field :listing_type, value: 'job' %>
    <%= f.submit "Create Job", class: "btn btn-primary" %>
  <% end %>
</div>
