<div>
  <%= simple_form_for [@agency, @listing] do |f| %>
    <%= f.input :start_date, label: "Start Date" %>
    <%= f.input :end_date, label: "End Date" %>
    <%= f.input :location, label: "Location" %>
    <%= f.input :client_id, label: "Client", collection: Client.all %>
    <%= f.hidden_field :listing_type, value: 'option' %>
    <%= f.submit "Create Option", class: "btn btn-primary" %>
  <% end %>
</div>
