<div class="my-2 mx-5">
  <%= simple_form_for [@agency, @listing] do |f| %>
    <%= f.input :client_id, label: "Client", collection: Client.all %>
    <%= f.input :location, label: "Location" %>
    <div class="d-flex">
      <div>
        <%= f.input :start_date, label: "From", as: :date  %>
        <%= f.input :photographer, label: "Photographer" %>
        <%= f.input :stylist, label: "Stylist" %>
      </div>
      <div>
        <%= f.input :end_date, label: "Until", as: :date  %>
        <%= f.input :extra_info, label: "Extra information" %>
      </div>
    </div>
    <%= f.hidden_field :listing_type, value: 'option' %>
    <%= f.submit "Create Option", class: "btn btn-primary" %>
  <% end %>
</div>
