<% if current_user.user_type == 'agent' %>
  <h1><%= @agency.name %></h1>

  <div class="dashboard">
    <div class="sidebar">
      <!-- Тут рендерим список моделей -->
      <ul>
        <% @models.each do |model| %>
          <li class="p-2 hover:bg-gray-100 cursor-pointer">
            <%= model.f_name %> <%= model.l_name %> – <%= model.email %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="right-side">
    <div class="button-bar">
        <button class="btn btn-primary">CASTING</button>
        <button class="btn btn-primary">OPTION</button>
        <button class="btn btn-primary">JOB</button>
        <button class="btn btn-primary">TRAVEL</button>
        <button class="btn btn-primary">HOTEL</button>
      </div>

      <%# <%= turbo_frame_tag :contact_details do %>
        <turbo-frame id="contact_details">
        <%# <%= render partial: 'listings/form' %>
        </turbo-frame>
      <%# <% end %>
    </div>
  </div>
<% else %>
  <p>Only Agents have access to the dashboard</p>
<% end %>
