<%= turbo_frame_tag :other_side do %>
  <div class="background-1 dashboard-grid">

    <%# LEFT SIDE%>
    <div class="grid-left-side">

      <%# dashboard navigation bar %>
      <div class="dashboard-navbar">
        <%= render 'pages/dashboard_shared/dashboard_navbar' %>
      </div>

      <%# TOP SIDE %>
      <div class="dashboard-content-grid-top">

          <%# TOP LEFT %>
          <div class="grid-top-left">
            <%# empty for now %>
          </div>

          <%# TOP RIGHT %>
          <%# buttons go here %>
          <div class="grid-top-right">
            <%= link_to "CASTING", new_agency_listing_path(@agency, type: 'casting'), data: { turbo_frame: "create_panel" }, class: "bttn-dsb" %>
            <%= link_to "OPTION", new_agency_listing_path(@agency, type: 'option'), data: { turbo_frame: "create_panel" }, class: "bttn-dsb" %>
            <%= link_to "JOB", new_agency_listing_path(@agency, type: 'job'), data: { turbo_frame: "create_panel" }, class: "bttn-dsb" %>
            <%= link_to "TRAVEL", new_agency_travel_path(@agency), data: { turbo_frame: "create_panel" }, class: "bttn-dsb" %>
            <%= link_to "HOTEL",  new_agency_hotel_path(@agency), data: { turbo_frame: "create_panel" }, class: "bttn-dsb" %>
          </div>
      </div>

      <%# BOTTOM SIDE %>
      <div class="dashboard-content-grid-bottom">

        <%# BOTTOM LEFT %>
        <%# models/listings-list %>
        <div class="grid-bottom-left">
          <!-- searchbar || not yet functioning -->
          <div class="form-section">
            <form action="<%= root_path %>" method="get" class="search-form">
              <input type="text" name="query" value="<%= params[:query] %>" placeholder="search">
              <input type="submit" value=">" class="button">
            </form>
          </div>
          <!-- Models list -->
          <% @models.each do |model| %>
            <%= button_to model_agency_profile_path(model),
                          method: :patch,
                          class: "btn btn-link " do %>
              <span>
                <% if session[:selected_model_ids].include?(model.id) %>
                  <span class="model green"><%= model.user.f_name %><%= model.user.l_name %></span>
                <% else %>
                  <span class="model"><%= model.user.f_name %><%= model.user.l_name %></span>
                <% end %>
              </span>
            <% end %>
          <% end %>
        </div>

        <%# BOTTOM RIGHT %>
        <%# toggle screen with forms and listing#show %>
        <div class="grid-bottom-right">
          <%= turbo_frame_tag :create_panel do %>
          <% end %>
        </div>

      </div>
      <div class="dashboard-footer">
      </div>
    </div>

    <%# RIGHT SIDE%>
    <%# dashboard sidebar %>
    <div class="grid-right-side side-bar-right">
      <%= render 'pages/dashboard_shared/dashboard_sidebar' %>
       <%= render 'listings/forms/new_model_profile' %>
    </div>

  </div>
<% end %>

<%# <div class="modal fade"
     id="turbo-modal"
     tabindex="-1"
     aria-labelledby="turboModalLabel"
     aria-hidden="true"
     data-controller="modal"
     data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close">

  <div class="modal-dialog" data-modal-target="post">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="turboModalLabel">New Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= turbo_frame_tag "modal" %>
      <%# </div>
    </div>
  </div>
</div> %>
