<%# TOP %>
<div class="grid-top">
  <%# LEFT %>
  <div class="grid-top-left">
  </div>
  <%# RIGHT %>
  <div class="grid-top-right">
    <%= link_to "CASTING", new_agency_listing_path(@agency, type: 'casting'), data: { turbo_frame: "create_panel" }, class: "btn btn-primary" %>
    <%= link_to "OPTION", new_agency_listing_path(@agency, type: 'option'), data: { turbo_frame: "create_panel" }, class: "btn btn-primary" %>
    <%= link_to "JOB", new_agency_listing_path(@agency, type: 'job'), data: { turbo_frame: "create_panel" }, class: "btn btn-primary" %>
    <button class="btn btn-primary">TRAVEL</button>
    <button class="btn btn-primary">HOTEL</button>
  </div>
</div>

<%# BOTTOM %>
<div class="grid-bottom">
  <%# LEFT %>
  <div class="grid-bottom-left">
    <!-- Models list -->
    <ul>
      <% @models.each do |model| %>
        <li class="p-2 hover:bg-gray-100 cursor-pointer">
          <%= model.f_name %> <%= model.l_name %> – <%= model.email %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# RIGHT %>
  <div class="grid-bottom-right">
  <%= turbo_frame_tag :create_panel do %>
    <h2>Hello</h2>
  <% end %>
    <%# <%= turbo_frame_tag :contact_details do %>
    <%# <%= render partial: 'listings/form' %>
    <%# <% end %>
  </div>
</div>
