<%# TOP %>
<div class="grid-top">
  <%# LEFT %>
  <div class="grid-top-left">
  </div>
  <%# RIGHT %>
  <div class="grid-top-right">
    <%= link_to "CASTING", new_agency_listing_path(@agency, type: 'casting'), data: { turbo_frame: "create_panel" }, class: "btn btn-primary" %>
    <%= link_to "OPTION", new_agency_listing_path(@agency, type: 'option'), data: { turbo_frame: "create_panel" }, class: "btn btn-primary" %>
    <%= link_to "JOB", new_agency_listing_path(@agency, type: 'job'), data: { turbo_frame: "create_panel" }, class: "btn btn-primary" %>
    <button class="btn btn-primary">TRAVEL</button>
    <button class="btn btn-primary">HOTEL</button>
  </div>
</div>

<%# BOTTOM %>
<div class="grid-bottom">
  <%# LEFT %>
  <div class="grid-bottom-left">
    <!-- Models list -->
      <% @models.each do |model| %>
      <%# map = model.model_agency_profiles.first %>
        <%= button_to model_agency_profile_path(model), turbo_method: :patch, params: { map: { selected: true }} do %>
          <span> model.user.f_name </span>
        <% end %>
      <% end %>
  </div>
  <%# RIGHT %>
  <div class="grid-bottom-right">
  <%= turbo_frame_tag :create_panel do %>
    <h2>Hello</h2>
  <% end %>
    <%# <%= turbo_frame_tag :contact_details do %>
    <%# <%= render partial: 'listings/form' %>
    <%# <% end %>
  </div>
</div>
