<div class="mobile-container <%= @agency.name %>" data-controller="inbox">
  <div class="navbar-top-container">
    <%= render "shared/navbar_top" %>
  </div>
  <div class="mobile-header d-flex justify-content-between align-items-center">
    <h1>Inbox</h1>
    <%= link_to "MAP", map_path, class: "btn btn-outline-warning mx-3" %>
  </div>

  <div class="mobile-content scroll">

    <%# INBOX NAVIGATION TABS %>
    <div class="tab">
      <button class="tablinks active" onclick="openTag(event, 'All')">All</button>
      <button class="tablinks" onclick="openTag(event, 'Casting')">Castings</button>
      <button class="tablinks" onclick="openTag(event, 'Option')">Options</button>
      <button class="tablinks" onclick="openTag(event, 'Job')">Jobs</button>
    </div>

    <div id="All" class="tabcontent connections-inbox active">

      <% @connections.each do |connection| %>
        <%# IF CASTING %>
        <% if connection.listing.listing_type == 'casting' %>
          <div>
            <%= link_to connection_path(connection), class: "connection-container" do %>
              <%= render 'shared/avatar_inbox', listing: connection.listing %>
              <div class="connection-info">
                <% if connection.opened == true %>
                  <span class="p-light"><%= connection.listing.client.name %></span>
                  <span class="p-light"><%= connection.listing.start_date.strftime('%-d %B') %></span>
                  <span class="p-light"><%= connection.listing.start_time.strftime('%H:%M') %> - <%= connection.listing.end_time.strftime('%H:%M') %></span>
                <% else %>
                  <span class="p-xbold"><%= connection.listing.client.name %></span>
                  <span class="p-xbold"><%= connection.listing.start_date.strftime('%-d %B') %></span>
                  <span class="p-xbold"><%= connection.listing.start_time.strftime('%H:%M') %> - <%= connection.listing.end_time.strftime('%H:%M') %></span>
                <% end %>
              </div>
              <div class="connection-listing-type">
                <span class="p-light"><%= connection.listing.listing_type.upcase %></span>
              </div>
            <% end %>
          </div>
        <%# IF OPTION %>
        <% elsif connection.listing.listing_type == 'option' %>
          <div>
            <%= link_to connection_path(connection), class: "connection-container" do %>
              <%= render 'shared/avatar_inbox', listing: connection.listing %>
              <div class="connection-info">
                <% if connection.opened == true %>
                  <span class="p-light"><%= connection.listing.client.name %></span>
                  <span class="p-light"><%= connection.listing.start_date.strftime('%-d %B') %> - <%= connection.listing.end_date.presence&.strftime('%-d %B') %></span>
                  <span class="p-light"><%= connection.listing.extra_info.presence&.truncate(36) %></span>
                <% else %>
                  <span class="p-xbold"><%= connection.listing.client.name %></span>
                  <span class="p-xbold"><%= connection.listing.start_date.strftime('%-d %B') %> - <%= connection.listing.end_date.presence&.strftime('%-d %B') %></span>
                  <span class="p-standard"><%= connection.listing.extra_info.presence&.truncate(31) %></span>
                <% end %>
              </div>
              <div class="connection-listing-type">
                <span class="p-light"><%= connection.listing.listing_type.upcase %></span>
              </div>
            <% end %>
          </div>

        <%# IF  JOB %>
        <% elsif connection.listing.listing_type == 'job' %>
          <div>
            <%= link_to connection_path(connection), class: "connection-container" do %>
              <%= render 'shared/avatar_inbox', listing: connection.listing %>
              <div class="connection-info">
                <% if connection.opened == true %>
                  <span class="p-light"><%= connection.listing.client.name %></span>
                  <span class="p-light"><%= connection.listing.start_date.presence&.strftime('%-d %B') %></span>
                  <span class="p-light"><%= connection.listing.start_time.presence&.strftime('%H:%M') %></span>
                <% else %>
                  <span class="p-xbold"><%= connection.listing.client.name %></span>
                  <span class="p-xbold"><%= connection.listing.start_date.presence&.strftime('%-d %B') %></span>
                  <span class="p-xbold"><%= connection.listing.start_time.presence&.strftime('%H:%M') %></span>
                <% end %>
              </div>
              <div class="connection-listing-type">
                <span class="p-light"><%= connection.listing.listing_type.upcase %></span>
              </div>
            <% end %>
          </div>
        <% end %>

      <% end %>
    </div>


    <%# CASTINGS %>
    <div id="Casting" class="tabcontent connections-inbox">
      <% @castings.each do |casting| %>
        <div>
          <%= link_to connection_path(casting), class: "connection-container" do %>
            <%= render 'shared/avatar_inbox', listing: casting.listing %>
            <div class="connection-info">
              <% if casting.opened == true %>
                <span class="p-light"><%= casting.listing.client.name %></span>
                <span class="p-light"><%= casting.listing.start_date.strftime('%-d %B') %></span>
                <span class="p-light"><%= casting.listing.start_time.strftime('%H:%M') %> - <%= casting.listing.end_time.strftime('%H:%M') %></span>
              <% else %>
                <span class="p-xbold"><%= casting.listing.client.name %></span>
                <span class="p-xbold"><%= casting.listing.start_date.strftime('%-d %B') %></span>
                <span class="p-xbold"><%= casting.listing.start_time.strftime('%H:%M') %> - <%= casting.listing.end_time.strftime('%H:%M') %></span>
              <% end %>
            </div>
            <div class="connection-listing-type">
              <span class="p-light"><%= casting.listing.listing_type.upcase %></span>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="filler"></div>
    </div>

    <%# OPTIONS %>
    <div id="Option" class="tabcontent connections-inbox">
      <% @options.each do |option| %>
        <div>
          <%= link_to connection_path(option), class: "connection-container" do %>
            <%= render 'shared/avatar_inbox', listing: option.listing %>
            <div class="connection-info">
              <% if option.opened == true %>
                <span class="p-light"><%= option.listing.client.name %></span>
                <span class="p-light"><%= option.listing.start_date.strftime('%-d %B') %> - <%= option.listing.end_date.presence&.strftime('%-d %B') %></span>
                <span class="p-light"><%= option.listing.extra_info.presence&.truncate(36) %></span>
              <% else %>
                <span class="p-xbold"><%= option.listing.client.name %></span>
                <span class="p-xbold"><%= option.listing.start_date.strftime('%-d %B') %> - <%= option.listing.end_date.presence&.strftime('%-d %B') %></span>
                <span class="p-standard"><%= option.listing.extra_info.presence&.truncate(31) %></span>
              <% end %>
            </div>
            <div class="connection-listing-type">
              <span class="p-light"><%= option.listing.listing_type.upcase %></span>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="filler"></div>
    </div>

    <%# JOBS %>
    <div id="Job" class="tabcontent connections-inbox">
      <% @jobs.each do |job| %>
        <div>
          <%= link_to connection_path(job), class: "connection-container" do %>
            <%= render 'shared/avatar_inbox', listing: job.listing %>
            <div class="connection-info">
              <% if job.opened == true %>
                <span class="p-light"><%= job.listing.client.name %></span>
                <span class="p-light"><%= job.listing.start_date.presence&.strftime('%-d %B') %></span>
                <span class="p-light"><%= job.listing.start_time.presence&.strftime('%H:%M') %></span>
              <% else %>
                <span class="p-xbold"><%= job.listing.client.name %></span>
                <span class="p-xbold"><%= job.listing.start_date.presence&.strftime('%-d %B') %></span>
                <span class="p-xbold"><%= job.listing.start_time.presence&.strftime('%H:%M') %></span>
              <% end %>
            </div>
            <div class="connection-listing-type">
              <span class="p-light"><%= job.listing.listing_type.upcase %></span>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="filler"></div>
    </div>


    </div>
    <div class="navbar-bottom-container">
      <div class="navbar-bottom">
        <%= render 'shared/mobile-app-navbar' %>
      </div>
    </div>

</div>
