<h1>All</h1>
<div class="m-3">
  <% @connections.each do |connection| %>
    <div class="m-3">
      <span> <%= connection.listing.client.name %> </span>
      <span> <%= connection.listing.address %> </span>
    </div>
  <% end %>
</div>

<h1>Castings</h1>
<div class="m-3">
  <% @castings.each do |casting| %>
    <div class="m-3">
      <span> <%= casting.listing.client.name %> </span>
      <span> <%= casting.listing.address %> </span>
    </div>
  <% end %>
</div>

<h1>Options</h1>
<div class="m-3">
  <% @options.each do |option| %>
    <div class="m-3">
      <span> <%= option.listing.client.name %> </span>
      <span> <%= option.listing.address %> </span>
    </div>
  <% end %>
</div>

<h1>Jobs</h1>
<div class="m-3">
  <% @jobs.each do |job| %>
    <div class="m-3">
      <span> <%= job.listing.client.name %> </span>
      <span> <%= job.listing.address %> </span>
    </div>
  <% end %>
</div>
