<% @hotels.each do |hotel| %>
  <div class="m-3">
    <span>Hotel <%= hotel.name %> </span><br>
    <span>Address <%= hotel.address %> </span><br>
    <span>Extra info <%= hotel.extra_info %> </span><br>
  </div>
<% end %>

<% @hotels.each do |hotel| %>
  <div class="m-3">
    <span>Hotel <%= hotel.name %> </span><br>
    <span>Address <%= hotel.address %> </span><br>
    <span>Extra info <%= hotel.extra_info %> </span><br>
  </div>
<% end %>
