<% @hotels.each do |hotel| %>
  <div class="m-3">
    <span>Hotel <%= hotel.name %> </span><br>
    <span>Address <%= hotel.address %> </span><br>
    <span>Extra info <%= hotel.extra_info %> </span><br>
  </div>
<% end %>

<% @travels.each do |travel| %>
  <div class="m-3">
    <span>From <%= travel.origin %> </span><br>
    <span>To <%= travel.destination %> </span><br>
    <span>Extra info <%= travel.extra_info %> </span><br>
  </div>
<% end %>
