<div>
  <%= simple_form_for [@agency, @hotel] do |f| %>
    <%= f.input :name, label: "Name" %>
    <%= f.input :address, label: "Address" %>
    <%= f.input :checkin, label: "Check in" %>
    <%= f.input :checkout, label: "Check out" %>
    <%= f.input :extra_info, label: "Extra information" %>
    <%= f.input :model_agency_profile_id, label: "Model", collection: ModelAgencyProfile.all.map { |m| [m.user.f_name + " " + m.user.l_name, m.id] }, prompt: "Select model" %>
    <%= f.submit "Create Option", class: "btn btn-primary" %>
  <% end %>
</div>
