<div class="my-2 mx-5">
  <%= simple_form_for [@agency, @hotel] do |f| %>
    <%= f.input :name, label: "Name" %>
    <%= f.input :address, label: "Address" %>
    <div class="d-flex">
      <%= f.input :checkin, as: :string, input_html: { type: "date" }, label: "Check in" %>
      <%= f.input :checkout, as: :string, input_html: { type: "date" }, label: "Check out" %>
    </div>
    <%= f.input :extra_info, label: "Extra information" %>
    <%= f.input :model_agency_profile_id, label: "Model", collection: ModelAgencyProfile.all.map { |m| [m.user.f_name + " " + m.user.l_name, m.id] }, prompt: "Select model" %>
    <%= f.submit "Create Option", class: "btn btn-primary" %>
  <% end %>
</div>
